<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
   <meta charset="utf-8">
   <title>Team</title>


    <link rel="stylesheet" href={% static "css/mystyle.css" %}>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap" rel="stylesheet">


    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>
  <body>

    <nav class="navbar navbar-custom">

    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="https://www.instagram.com/chandantuskers/"><img src="{% static "images/Group 2.png" %}" width="50" height="40"   alt="" class="d-inline-block align-middle mr-2"></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <ul class="nav navbar-nav">
       <li ><a href="C:\Users\Tejas Naik\Desktop\hhttmmll\home.html">Home</a></li>
       <li ><a href="{% url 's_app:squad' %}">Team</a></li>
       <li ><a href="#">Gallery</a></li>
       <li ><a href="{% url 's_app:about' %}">About Us <span class="sr-only">(current)</span></a></li>
       <li class="dropdown">
         <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Social Media <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li><a href="https://www.instagram.com/chandantuskers/">Instagram</a></li>
           <li><a href="https://www.facebook.com/ChandanTuskers">Facebook</a></li>
           <li><a href="#">Twitter</a></li>
         </ul>
       </li>
     </ul>
     <!-- <form class="navbar-form navbar-left">
       <div class="form-group">
         <input type="text" class="form-control" placeholder="Search">
       </div>
       <button type="submit" class="btn btn-danger">Submit</button>
     </form>
     <ul class="nav navbar-nav navbar-right">
       <li><a href="#">Sign In</a></li>

     </ul> -->
   </div><!-- /.navbar-collapse -->
 </div><!-- /.container-fluid -->
</nav>


  <div class="container">
    <div class="jumbotron">




    <ul>
      <li>Players:-</li>
      <ol>
        <br>
        <li>Aditya Naik Gaonkar</li>
        <ul>
          <li>Right-hand bat</li>
          <li>Wicketkeeper batsman</li>
        </ul>
        <br>
        <li>Amey Rajyadhyaksha</li>
        <ul>
          <li>Right-hand bat</li>
          <li>Right-arm medium</li>
        </ul>
        <br>
        <li>Parikshit Naik Gaonkar</li>
        <ul>
          <li>Left-hand bat</li>
          <li>Wicketkeeper batsman</li>
        </ul>
        <br>
        <li>Pravin Bhagat</li>
        <ul>
          <li>Right-hand bat</li>
          <li>Right-arm fast</li>
        </ul>
        <br>
        <li>Kushwant Bhagat</li>
        <ul>
          <li>Right-hand bat</li>
          <li>Right-arm spin</li>
        </ul>
        <br>
        <li>Naresh Naik</li>
        <ul>
          <li>Right-hand bat</li>
          <li>Right-arm fast</li>
        </ul>
        <br>
        <li>Gaurav Sawant</li>
        <ul>
          <li>Right-hand bat</li>
          <li>Right-arm fast</li>
        </ul>
        <br>
        <li>Sagar Salunke</li>
        <ul>
          <li>Right-hand bat</li>
          <li>Right-arm fast</li>
        </ul>
        <br>
        <li>Deeptej Bhagat</li>
        <ul>
          <li>Right-hand bat</li>
          <li>Right-arm medium</li>
        </ul>
        <br>
        <li>Bipin Bhaireli</li>
        <ul>
          <li>Right-hand bat</li>
          <li>Right-arm fast</li>
        </ul>
        <br>
        <li>Narendra Dessai</li>
        <ul>
          <li>Right-hand bat</li>
          <li>Right-arm medium</li>
        </ul>
        <br>
        <li>Saeel Bhagat</li>
        <ul>
          <li>Right-hand bat</li>
          <li>Right-arm fast</li>
        </ul>
        <br>
        <li>Tejas Naik</li>
        <ul>
          <li>Right-hand bat</li>
          <li>Right-arm fast</li>
        </ul>
        <br>
        <li>Gunjal Dessai</li>
        <ul>
          <li>Right-hand bat</li>
          <li>Right-arm fast</li>
        </ul>
        <br>
        <li>Rohan Naik Gaonkar</li>
        <ul>
          <li>Right-hand bat</li>
        </ul>
        <br>
        <li>Meenar Dessai</li>
        <ul>
          <li>Right-hand bat</li>
          <li>Right-arm medium</li>
        </ul>
        <br>
        <li>Pratvik Gaonkar</li>
        <ul>
          <li>Right-hand bat</li>
          <li>Right-arm medium</li>
        </ul>
        <br>
        <li>Kundan Bhagat</li>
        <ul>
          <li>Right-hand bat</li>
          <li>Right-arm medium</li>
        </ul>

      </ol>
    </ul>
    </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   </body>
  </body>
</html>
